@mixin desktop() {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin resetButton() {
  background: none;
  border: none;
  border-radius: $border-radius-regular;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-family: $mono-font;
  padding: 0;
}

@mixin card() {
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
}

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
