// Primary color variations.
$primary-color-400: #7C4DFF;
$primary-color-200: #B89BFE;
$primary-color-muted: #594F78;

// Status colors.
$success-color: #7EFB8E;
$success-color-muted: #406155;

// Background colors.
$background-color-primary: #1E2630;
$background-color-card: #303A47;
$background-color-price-tag: #FFFFFF;
$background-color-glass: rgba(115, 130, 149, 0.7);
$background-color-navbar: #49515C;
$background-color-input: #3F4C5C;

// Text colors.
$text-color-emphasis: #FFFFFF;
$text-color-primary: #A9AAB7;
$text-color-input: #C1C3D0;
$text-color-black: #2C263C;

// Misc colors.
$red-color: #FF8585;
$danger-color: #FF586C;

// Divider colors.
$divider-color: #404F5F;

// Divider colors.
$divider-color: #404F5F;

// Misc.
$max-width: 1200px;
$background-blur: 8px;

// Border radii.
$border-radius-regular: 12px;
$border-radius-icon: 8px;
$border-radius-round: 100px;

// Font families.
$main-font: "Space Grotesk", sans-serif;
$mono-font: "Space Mono", monospace;

// Font weights.
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes.
$font-size-title: 2.25rem;
$font-size-heading-large: 1.5rem;
$font-size-heading-medium: 1.125rem;
$font-size-primary: 1rem;
$font-size-secondary: 0.875rem;
$font-size-tertiary: 0.75rem;

// Line heights.
$line-height-title: 1;
$line-height-text: 1.5;

// Spacers
$spacer-mini: 0.25rem;
$spacer-very-small: 0.5rem;
$spacer-very-small-plus: 0.75rem;
$spacer-small: 1rem;
$spacer-small-plus: 1.5rem;
$spacer-medium: 2rem;
$spacer-medium-plus: 3rem;
$spacer-large: 4rem;
$spacer-large-plus: 6rem;
$spacer-very-large: 8rem;

// Break points.
$first-break: 500px;
$second-break: 1000px;
