$primary-color: #64FF00;
$h1-color-primary: #FFFFFF;
$p-color-primary: #A9AAB7;
$card-color: #303A47;
$background-color-primary: #1E2630;

$max-width: 960px;

$card-border-radius: 12px;

$main-font: "Space Grotesk", sans-serif;
$mono-font: "Space Mono", sans-serif;
