.container {
  background-color: var(--primary-color-400, $primary-color-400);
  border-radius: $border-radius-round;
  height: 56px;
  position: relative;
  transition: all $animation-duration ease;
  width: 56px;

  @include desktop() {
    height: 68px;
    width: 68px;
    &:hover {
      box-shadow: var(--shadow-add, $shadow-add);
      transform: scale(1.1);
    }
  }

  > svg {
    bottom: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 50%);
  }
}
