.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.input {
  margin-bottom: $spacer-small;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacer-medium;
  justify-content: center;
  
  .card {
    background-color: var(--background-color-card, $background-color-card);
    border-radius: 6px;
    padding: $spacer-medium;
    width: 100%;
    
    @include desktop() {
      width: 40%;
    }

    .h1{
      text-align: center;
    }

    .numberText {
      font-size: 2rem;
      font-weight: 1000;
      margin-top: 2rem;
      text-align: center;
    }

    .errorText {
      color: var(--error-color, $error-color);
      margin-top: 2rem;
      text-align: center;
    }
  }

}
