.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
}

.input {
  // align-self: flex-start;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacer-medium;
  justify-content: center;
  
  .card {
    background-color: rgb(20, 121, 121);
    background-color: $background-color-card;
    border-radius: 6px;
    padding: $spacer-medium;
    width: 100%;

    @include desktop() {
      width: 40%;
    }

    .h1{
      text-align: center;
    }

    .numberText {
      font-size: 2rem;
      font-weight: 1000;
      margin-top: 2rem;
      text-align: center;
    }
  }

}
