.content {
  display: flex;
  flex-direction: column;
  gap: $spacer-very-small;
  width: 100%;
}

.eyebrow {
  @include uppercase();
  color: var(--text-color-link, $text-color-link);
  font-size: $font-size-tertiary;
  margin: 0;
}

.hint {
  color: var(--text-color-primary, $text-color-primary);
  font-size: $font-size-secondary;
  line-height: $line-height-hint-text;
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: $spacer-very-small;
  margin-top: $spacer-small;
  width: 100%;

  @include desktop() {
    gap: $spacer-small;
  }
}
