.avatar {
  align-items: center;
  border-radius: 100px;
  box-shadow: $shadow-avatar;
  display: flex;
  justify-content: center;
  position: relative;

  &.default {
    background-color: #FFFFFF;
  }

  .indicator {
    background-color: $success-color;
    border-radius: 100px;
    height: 10px;
    left: 2px;
    position: absolute;
    top: 37px;
    width: 10px;
  }

  img {
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
    width: 100%;
  }
}

.small {
  font-size: 0.5rem;
  height: 30px;
  width: 30px;
}

.medium {
  font-size: 1rem;
  height: 50px;
  width: 50px;
}

.large {
  font-size: 2rem;
  height: 140px;
  width: 140px;

  @include desktop() {
    font-size: 3rem;
    height: 180px;
    width: 180px;
  }
}

.edit {
  left: 102px;
  position: absolute;
  top: 105px;

  @include desktop() {
    left: 135px;
    top: 140px;
  }

}
