.avatar {
  align-items: center;
  border-radius: $border-radius-rounded;
  box-shadow: var(--shadow-avatar, $shadow-avatar);
  display: flex;
  justify-content: center;
  position: relative;

  &.default {
    background: linear-gradient(var(--background-color-avatar, $background-color-avatar), var(--background-color-avatar-gradient, $background-color-avatar-gradient));
    background-color: var(--background-color-avatar, $background-color-avatar)
  }

  img,
  svg {
    border-radius: $border-radius-rounded;
    height: 100%;
    object-fit: cover;
    transform: translateZ(0);
    width: 100%;
  }
}

.small {
  font-size: $font-size-avatar;
  height: 30px;
  width: 30px;
}

.medium {
  font-size: $font-size-avatar-medium;
  height: 50px;
  width: 50px;
}

.large {
  box-shadow: var(--shadow-avatar-large, $shadow-avatar-large);
  font-size: $font-size-avatar-large;
  height: $avatar-size-large;
  width: $avatar-size-large;

  @include desktop(){
    font-size: $font-size-avatar-large-desktop;
    height: $avatar-size-large-desktop;
    width: $avatar-size-large-desktop;
  }
}

.edit {
  bottom: 0;
  position: absolute;
  right: 0;

  @include desktop() {
    bottom: 4px;
    right: 4px;
  }
}

.name {
  color: var(--text-color-emphasis, $text-color-emphasis);
}
