.container {
    margin-top: $spacer-small;
    display: flex;
    align-items: center;
    column-gap: $spacer-very-small-plus;
    align-self: flex-start;
    cursor: pointer;

    span {
        color: $text-color-primary;
    }
}
