.glassButton {
  @include resetButton();
  align-items: center;
  backdrop-filter: blur($background-blur);
  background-color: $background-color-glass;
  border-radius: $border-radius-icon;
  display: flex;
  justify-content: center;
  padding: 4px;
}
