.container {
  @include resetButton();
  align-items: center;
  align-self: flex-start;
  column-gap: $spacer-very-small-plus;
  cursor: pointer;
  display: flex;
  margin-top: $spacer-small;

  span {
    color: $text-color-primary;
  }
}
