.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-color-glass;
    backdrop-filter: blur($background-blur);
    border-radius: $border-radius-icon;
    padding: 4px;
}
