.container {
  align-items: center;
  background-color: $primary-color-muted;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: $spacer-very-small;
  stroke: $primary-color-200;
}
