.categoryInputWrapper {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.categoryLabel {
  @include label();

  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.categoryInputContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-very-small-plus;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}

.errorIcon {
  @include errorIconDimensions();
  stroke: var(--error-color, $error-color);
}

.asterisk {
  color: var(--error-color, $error-color);
}

.labelValid {
  color: var(--success-color, $success-color);
}
