.categoryInputWrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.categoryLabel {
  @include label();
}

.categoryInputContainer {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-very-small-plus;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);
}

.errorContainer {
  display: flex;
  margin-top: $spacer-very-small;
}

.errorText {
  color: $error-color;
  font-size: $font-size-tertiary;
  margin-left: $spacer-very-small;
}
