.container {
  display: flex;
  flex-direction: column;

  margin-top: $spacer-small;
  width: 100%;

  .item {
    @include resetButton();
    align-items: center;
    border-radius: 0;
    display: flex;
    gap: $spacer-very-small;
    justify-content: space-between;
    padding: $spacer-small $spacer-small-plus;
    text-align: left;

    &.active {
      cursor: default;
    }

    .indicator {
      background-color: $success-color;
      border-radius: 50%;
      min-height: 16px;
      min-width: 16px;

      @include desktop() {
        min-height: 18px;
        min-width: 18px;
      }
    }

    > div {
      align-items: center;
      display: flex;
      gap: $spacer-small;
      word-break: break-all;
    }
  }

  .divider {
    @include divider();
  }
}
