.button {
    @include resetButton();
    width: 100%;
    max-width: 500px;
    padding: $spacer-small 0;
    color: $text-color-emphasis;
    background-color: $primary-color-400;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    cursor: pointer;
    box-shadow: 0px 8px 20px rgba(124, 77, 255, 0.3);
}
