.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;
  width: $page-width-mobile;
}

.dateColumn {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-small-plus;
  max-width: $max-width-input;
  width: 100%;

  @include desktop() {
    flex-flow: row nowrap;
    gap: $spacer-medium;
  }
}

.arrangerInput {
  margin-top: $spacer-small;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-very-small-plus;
  max-width: $max-width-input;
  width: 100%;

  @include desktop() {
    gap: $spacer-small-plus;
  }
}

.gapLarge {
  gap: $spacer-large;
}

.dateContainer {
  display: flex;
  flex-direction: column;
  gap: $spacer-small;
  width: 100%;

  @include desktop() {
    gap: $spacer-medium;
  }
}

.textContainer {
  max-width: $max-width-input-text;
  width: 100%;
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

.marginBottomVeryLarge {
  margin-bottom: $spacer-very-large;
}

.noExtraOptionPadding {
  padding-bottom: calc($spacer-small + $font-size-primary + $spacer-very-small + $font-size-primary + $spacer-medium);
}

.addDateContainer {
  @include resetButton();
  display: flex;
  padding: $spacer-very-small 0;
}

.addDateText {
  color: $primary-color-200;
  font-family: $mono-font;
  font-size: $font-size-secondary;
  margin-left: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.inputHeaderIconDimensions {
  height: 14px;
  stroke-width: 2;
  width: 14px;

  @include desktop() {
    height: 20px;
    stroke-width: 2.5;
    width: 20px;
  }
}

.addDateDimensions {
  height: $font-size-secondary;
  stroke: $primary-color-200;
  width: $font-size-secondary;

  @include desktop() {
    height: $font-size-secondary-desktop;
    width: $font-size-secondary-desktop;
  }
}

.scheduledRegContainer {
  display: flex;
  flex-direction: column;
  gap: $spacer-medium;
  width: 100%;
}

.participantQuestion {
  display: flex;
  flex-direction: column;
  gap: $spacer-small;
  width: 100%;
}
