.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.label {
  @include label();
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.dateInput {
  @include input();
  max-width: $max-width-input-date;
  width: 100%;

  @include desktop() {
    max-width: $max-width-input-date-desktop;
  }
}

.dateInput::-webkit-calendar-picker-indicator {
  background-image: url('../assets/svgs/calendar_icon.svg');
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}

.valid {
  border: 1px solid $success-color;
}

.notValid {
  border: 1px solid $error-color;
}

.required {
  color: $text-color-emphasis;
}

.errorIconDimensions {
  @include errorIconDimensions();
}
