.dropdown {
  background-color: $background-color-input;
  border-right: $spacer-small solid transparent;
  padding: 0.5rem 1rem;
  width: 100%;
}

.labelContainer {
  @include labelContainer();
  
  label {
    color: #FFF;
  }
}
