.dropdown {
  border-right: $spacer-small solid transparent;
  width: 100%;
  @include input();
}

.labelContainer {
  @include labelContainer();

  label {
    @include label();
  }
}

.card {
  @include desktop() {
    &:focus, &:hover {
      background-color: var(--background-color-input, $background-color-input);
    }
  }
}
