.container {
  @include resetButton();
  align-items: center;
  backdrop-filter: blur($background-blur);
  background-color: var(--background-color-glass, $background-color-glass);
  border-radius: $border-radius-icon;
  display: flex;
  fill: none;
  justify-content: center;
  padding: 8.5px;
  stroke: #FFFFFF;
}
