.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;

  .editImageButton {
    @include resetButton();
  }

  .description {
    margin: 2rem 0;
    text-align: center;

    textarea {
      text-align: center;
    }
  }

  .confirm {
    bottom: -4rem;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: all 0.2s ease-in-out;
    width: 90%;

    &.show {
      bottom: 4rem;
      position: fixed;
    }
  }
}

.foodPreference {
  max-width: 500px;
  width: 100%;
}
