.container {
  align-items: center;
  background-color: var(--primary-color-400, $primary-color-400);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: $spacer-very-small;
  stroke: rgba(255, 255, 255, 255);
}
