.eventCardContainer {
  width: 19rem;
  height: 19rem;
  border-radius: 0.75rem;
  background-color: #303A47;
  background-size: contain;
  background-repeat: no-repeat;

  .eventCard {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
    flex-direction: column;

    .eventCardImageContainer {
      height: 40%;
      width: 100%;
      overflow: hidden;
      border-radius: 0.75rem 0.75rem 0 0;

    }

    .eventCardInfoContainer {
      border-radius: 0 0 0.75rem 0.75rem;
      background-color: #303A47;
      height: 60%;
      width: 100%;
      bottom: 0;

      .eventCardInfo {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-around;
        margin: 1rem;
        // padding: 1rem;
        border-radius: 0.75rem;
        // height: 100%;

        .eventCardInfoHeaderContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          h3 {
            margin: 0;
          }

          .eventCardInfoHeaderPriceContainer {
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }

        .divider {
          height: 0;
          border: 1px solid #404F5F;
          width: 100%;
          margin: 0.7rem 0;
        }

        .eventCardInfoBodyContainer {
          display: flex;

          .eventCardInfoBody{

            div {
              display: flex;
              flex-direction: column;
              gap: 0.5rem;

              .eventCardInfoBodyItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;

                div {
                  display: flex;
                  gap: 0.1rem;
                }
              }
            }
          }
        }
      }
    }
  }
  span {
    font-size: 0.9rem;
  }
}
