.eventCardContainer {
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
  cursor: pointer;
  height: 310px;

  @include desktop() {
    height: 330px;
  }

  .eventCard {
    border-radius: $border-radius-regular;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    width: 100%;  // TODO: Consider removing this.

    .eventCardImageContainer {
      border-radius: $border-radius-image-card;
      height: 40%;
      overflow: hidden;
      position: relative;
      width: 100%;

      @include desktop() {
        height: 40%;
      }
    }

    .eventCardInfoContainer {
      background-color: $background-color-card;
      border-radius: $border-radius-event-info;
      height: 60%;
      padding: $spacer-small;
      width: 100%;

      .eventCardInfo {

        .eventCardInfoHeaderContainer {
          align-items: center;
          display: flex;
          gap: $spacer-small;
          justify-content: space-between;

          .title {
            -webkit-box-orient: vertical;
            color: $text-color-emphasis;
            display: -webkit-box;
            font-size: $font-size-primary;
            font-weight: $font-weight-medium;
            -webkit-line-clamp: 2;
            line-height: $line-height-card-title;
            overflow: hidden;
            text-align: left;

            @include desktop() {
              font-size: $font-size-primary-desktop;
            }
          }

          .eventCardInfoHeaderPriceContainer {
            align-items: center;
            display: flex;
            gap: $spacer-very-small;
            @include monoFont();
          }
        }

        .divider {
          @include divider();
          margin: $spacer-very-small 0;

          @include desktop() {
            margin: $spacer-very-small-plus 0;
          }
        }

        .eventCardInfoBodyContainer {
          display: flex;

          .eventCardInfoBody{
            @include monoFont();

            div {
              display: flex;
              flex-flow: column nowrap;
              gap: $spacer-very-small;

              .eventCardInfoBodyItem {
                align-items: center;
                display: flex;
                flex-direction: row;
                gap: $spacer-very-small;

                div {
                  display: flex;
                  gap: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  span {
    color: $text-color-primary;
    font-size: $font-size-tertiary;
    font-weight: $font-weight-regular;

    @include desktop() {
      font-size: $font-size-tertiary-desktop;
    }
  }
}

.emphasis {
  color: $text-color-emphasis;
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 20px;

  @include desktop() {
    width: 24px;
  }
}

.icon {
  height: 14px;
  stroke: $primary-color-200;
  stroke-width: 2;
  width: 14px;

  @include desktop() {
    height: 16px;
    width: 16px;
  }
}

.arrangerImage {
  border-radius: $border-radius-rounded;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px;

  @include desktop() {
    height: 24px;
    width: 24px;
  }
}
