.eventWrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: $spacer-very-large;
  width: 100%;

  @include desktop() {
    padding-bottom: $spacer-very-large-plus;
  }
}

.imageWrapper {
  display: flex;
  height: $event-image-height;
  justify-content: center;
  position: relative;
  width: 100%;

  @include desktop() {
    height: $event-image-height-desktop;
    width: 90%;
  }
}

.imageContainer {
  height: $event-image-height;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include desktop() {
    border-radius: $border-radius-regular;
    box-shadow: $shadow-event-image;
    height: $event-image-height-desktop;
    margin-top: $spacer-small;
    width: $event-image-width-desktop;
  }
}

.backIcon {
  left: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 1;

  @include desktop() {
    left: 0;
    top: 2rem;
  }
}

.favoriteIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;

  @include desktop() {
    right: 0;
    top: 2rem;
  }
}

.editIcon {
  position: absolute;
  right: 3.5rem;
  top: 1rem;
  z-index: 1;

  @include desktop() {
    right: 3rem;
    top: 2rem;
  }
}

.eventContainer {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 90%;
}

.eventCalendarTagWrapper {
  left: 0;
  position: absolute;
  top: 0;
  transform: translateY(-75%);

  @include desktop() {
    transform: translateY(-50%);
  }
}

.eventCalendarTag {
  background-color: $background-color-calendar-tag;
  border-radius: $border-radius-regular;
  box-shadow: $shadow-calendar-tag;
  padding: $spacer-small $spacer-small $spacer-very-small;
  position: relative;

  @include desktop() {
    padding: $spacer-medium $spacer-small-plus $spacer-very-small;
  }
}

.eventCalendarTagFlair {
  align-items: center;
  background-color: $primary-color-200;
  border-radius: $border-radius-calendar-flair;
  display: flex;
  height: 14px;
  justify-content: center;
  left: 0;
  padding: $spacer-very-small;
  position: absolute;
  top: 0;
  width: 100%;

  @include desktop() {
    height: 24px;
  }
}

.month {
  @include uppercase();
  color: $text-color-black;
}

.date {
  color: $text-color-emphasis;
  font-size: $font-size-heading-large;
  font-weight: $font-weight-bold;

  @include desktop() {
    font-size: $font-size-heading-large-desktop;
  }
}

.eventPriceTag {
  background-color: $background-color-price-tag;
  border-radius: $border-radius-regular;
  color: $text-color-black;
  font-family: $mono-font;
  font-weight: $font-weight-bold;
  padding: $spacer-small;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-75%);
}

.eventTags {
  font-family: $mono-font;
  font-size: $font-size-tertiary;
  line-height: $line-height-hint-text;
  margin-bottom: $spacer-mini;
  margin-top: $spacer-medium;
  text-transform: capitalize;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
    margin-bottom: $spacer-very-small;
    margin-top: $spacer-large;
  }
}

.eventInfoContainer {
  margin-bottom: $spacer-medium;

  @include desktop() {
    margin-bottom: $spacer-medium-plus;
  }
}

.descWrapper {
  .descHeader {
    font-size: $font-size-heading-large;
    margin-bottom: $spacer-very-small-plus;
    white-space: nowrap;

    @include desktop() {
      font-size: $font-size-heading-large-desktop;
      margin-bottom: $spacer-small;
    }

    @include breakPoint(800px) {
      margin-bottom: 0;
    }
  }

  .descText {
    @include normalText();
  }

  .descriptionContainer {
    display: flex;
    flex-flow: column nowrap;
  }
}

.eventInfoCard {
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: $spacer-small;

  @include desktop() {
    padding: $spacer-small-plus;
  }

  .infoTextContainer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    width: max-content;

    .infoText {
      font-family: $mono-font;
      font-size: $font-size-secondary;
      margin-left: $spacer-very-small;

      @include desktop() {
        font-size: $font-size-secondary-desktop;
      }
    }
  }

  a {
    width: max-content;
  }
}

.arrangerImage {
  border-radius: $border-radius-rounded;
  height: 24px;
  overflow: hidden;
  position: relative;
  width: 24px;

  @include desktop() {
    height: 32px;
    width: 32px;
  }
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 24px;

  @include desktop() {
    width: 32px;
  }
}

.title {
  font-size: $font-size-title;
  margin-bottom: $spacer-small;

  @include desktop() {
    font-size: $font-size-title-desktop;
    margin-bottom: $spacer-small-plus;
  }
}


.primaryButton {
  @include fixedButton();
  align-self: center;
}

.row {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.emphasis {
  color: $text-color-emphasis;
}

.primaryColor {
  color: $primary-color-200;
}

.marginBottomMini {
  margin-bottom: $spacer-mini;
}

.marginBottomSmall {
  margin-bottom: $spacer-small;
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

.glassButtonsWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: $spacer-medium;
}

.descHeaderWrapper {
  display: flex;
  flex-direction: column;

  @include breakPoint(800px) {
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: $spacer-small;
  }
}

.shareButtons {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: $spacer-small;
  margin-bottom: $spacer-medium;
  width: 100%;

  @include breakPoint(800px) {
    margin-bottom: 0;
    width: initial;
  }
}

.orgLink {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
