.headerContainer {
  @include headingContainer();
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  @include desktop() {
    margin: $spacer-large 0;
  }
}

.eventContainer {
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-small;
  justify-content: flex-start;
  width: 95%;

  @include desktop() {
    gap: $spacer-small-plus;
  }
}

.nextPageButton {
  margin-top: 3rem;
}
