.container {
  @include card();
  padding: $spacer-small;

  .header {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: $spacer-very-small;
    justify-content: space-between;
    margin-bottom: $spacer-small;

    @include desktop() {
      flex-direction: row;
    }

    .subject {
      align-items: center;
      display: flex;
      gap: $spacer-very-small;
    }

    .deleteButton {
      @include resetButton();
      line-height: 0;

      svg {
        stroke: $text-color-input;
      }
    }

  }

  .visibility {
    align-items: center;
    color: $text-color-input;
    display: flex;
    font-size: $font-size-tertiary;
    gap: $spacer-very-small;
    order: 1; 

    @include desktop() {
      font-size: $font-size-tertiary-desktop;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 5px;

    p {
      @include normalText();
      white-space: wrap;
      word-wrap: break-word;
      
    }
  }

  .date {
    margin-top: $spacer-very-small;
    max-width: 100%;
    text-align: right;
    width: 100%;
  }

  @include desktop() {
    max-width: 700px;
  }
}
