.eventWrapper {
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 5rem ;
  width: 100%;

  @include desktop() {
    padding-bottom: 7rem;
  }
}

.imageContainer {
  height: calc(100vh * 0.35);
  position: relative;
  @include desktop() {
    height: calc(100vh * 0.40);
  }
}

.backIcon {
  left: 1rem;
  position: absolute;
  top: 1rem;
  z-index: 1;
}

.favoriteIcon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

.eventContainer {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  width: 90%;
}

.eventPriceTag {
  background-color: $background-color-price-tag;
  border-radius: $border-radius-regular;
  color: $text-color-black;
  font-family: $mono-font;
  font-weight: $font-weight-bold;
  padding: $spacer-small;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-50%);
}

.eventTags {
  font-family: $mono-font;
  font-size: $font-size-tertiary;
  margin-bottom: $spacer-mini;
  margin-top: $spacer-medium;
}

.eventInfoContainer {
  margin-bottom: $spacer-medium-plus;
}

.descContainer {
  .descHeader {
    margin-bottom: $spacer-very-small-plus;
  }

  .descText {
    line-height: 1.5;
  }
}

.eventInfoCard {
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: $spacer-small;

  .infoTextContainer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;

    .infoText {
      font-family: $mono-font;
      font-size: $font-size-secondary;
      margin-left: $spacer-very-small;
    }
  }
}

.primaryButton {
  @include fixedButton();
  align-self: center;
  width: $page-width-mobile;
}

.flexContainer {
  display: flex;
  flex-flow: column nowrap;
}

.emphasis {
  color: $text-color-emphasis;
}

.primaryColor {
  color: $primary-color-200;
}

.marginBottomMini {
  margin-bottom: $spacer-mini;
}

.marginBottomSmall {
  margin-bottom: $spacer-small;
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}
