.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container {
  max-width: 800px;
  width: 100%;
}

.header {
  @include headingContainer();
  margin-top: 0;
}

.back {
  margin-left: $spacer-small;
}
