.container {
  align-items: center;
  background-color: var(--primary-color-muted, $primary-color-muted);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 4px;

  svg {
    height: 14px;
    stroke: var(--primary-color-200, $primary-color-200);
    width: 14px;
  }
}
