.outerContainer {
  display: flex;
  flex-flow: column;
  gap: $spacer-small;

  .container {
    display: flex;
    flex-flow: row wrap;
    gap: $spacer-small;
    width: 100%;

    .foodPreference {
      align-items: center;
      display: flex;
      gap: $spacer-mini;

      .emoji {
        white-space: nowrap;
      }
    }
  }

  .outerAllergenContainer {
    display: flex;
    flex-flow: column;
    gap: $spacer-very-small;
    .allergenContainer {
      .foodPreference {
        .count {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

}
