.formWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: $spacer-medium;
  width: 90%;
  word-break: break-all;

  > * {
    margin-bottom: $spacer-large;
  }
}
