.wrapper {
  background-color: var(--background-color-card, $background-color-card);
  border-radius: $border-radius-inside-card;
  margin: $spacer-small;
  position: relative;
}

.inputContainer {
  align-items: center;
  border-radius: $border-radius-inside-card;
  display: flex;
  outline: 1px solid var(--border-color-input, $border-color-input);
  padding: 0 $spacer-small;
  transition: all $animation-duration ease;

  &:hover {
    box-shadow: var(--shadow-search, $shadow-search);
    outline: 1px solid transparent;
  }

  &.focused {
    box-shadow: var(--shadow-search, $shadow-search);
    outline: 1px solid transparent;
  }

  input {
    background-color: var(--background-color-card, $background-color-card);
    color: var(--text-color-emphasis, $text-color-emphasis);
    padding: $spacer-small;
    width: calc(100% + 2px);

    &:focus{
      outline: none;
    }
  }
}

.results {
  margin-top: $spacer-small;
  overflow: hidden;
  width: 100%;


  .header {
    padding-top: $spacer-mini;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: $spacer-small;
    margin: $spacer-small;
    margin-top: $spacer-small;
  }

  .error {
    margin: 0 auto;
    margin-top: $spacer-small;
  }
}

.icon {
  stroke: var(--text-color-primary, $text-color-primary);
}
