@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  background-color: $background-color-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  color: $p-color-primary;
}

h1 {
  color: $h1-color-primary;
  font-style: normal;
  font-weight: bold;

}
