

.container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 1rem;

  h1 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 0;
  }

  a {
    color: $text-color-emphasis;
    margin: 0;
  }

  .avatarContainer {
    column-gap: 1rem;
    display: flex;

    button {
      @include resetButton();
      color: $text-color-emphasis;
    }
  }

}
