.container {
  @include resetButton();
  align-items: center;
  backdrop-filter: blur($background-blur);
  background-color: var(--background-color-glass, $background-color-glass);
  border-radius: $border-radius-icon;
  display: flex;
  fill: none;
  justify-content: center;
  padding: 4px;
  stroke: #FFFFFF;
}

.favorited {
  fill: $red-color;
  stroke: $red-color;
}

.notFavorited {
  fill: none;
  stroke: #FFFFFF;
}
