.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 $spacer-small;

  @include desktop() {
    align-self: stretch;
    width: initial;
  }
}

.headingAndAvatarContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: $spacer-very-small-plus;
  margin-bottom: $spacer-very-small-plus;

  @include desktop() {
    margin-bottom: $spacer-small;
  }
}

.headingContainer {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
}

.tag {
  @include uppercase();
  background: linear-gradient(90deg, $primary-color-200, $secondary-color-200);
  background-clip: text;
  margin-bottom: $spacer-very-small;
  -webkit-text-fill-color: transparent;
}

.title {
  color: $text-color-emphasis;
  font-size: $font-size-heading-medium;
  font-weight: $font-weight-bold;

  @include desktop() {
    font-size: $font-size-heading-medium-desktop;
  }
}

.card {
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: column nowrap;
  position: relative;

  @include desktop() {
    flex-flow: row nowrap;
  }
}

.imageContainer {
  border-radius: $border-radius-regular $border-radius-regular 0 0;
  box-shadow: $shadow-highlighted-event-card;
  height: 200px;
  max-width: $max-width-highlighted-card;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include desktop(){
    border-radius: $border-radius-regular 0 0 $border-radius-regular;
    flex: 3 0 0;
    height: 380px;
  }
}

.divider {
  @include divider();
  background-color: $divider-color;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-small;
  }
}

.dataContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: $spacer-very-small-plus $spacer-small;

  @include desktop() {
    flex: 2 0 0;
    padding: $spacer-small;
  }
}

.eventTitle {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: $font-size-heading-small;
  font-weight: $font-weight-bold;
  -webkit-line-clamp: 1;
  line-height: $line-height-card-title;
  margin-bottom: $spacer-very-small;
  overflow: hidden;

  @include desktop() {
    font-size: $font-size-heading-small-desktop;
    -webkit-line-clamp: 2;
    margin-bottom: $spacer-very-small-plus;
  }
}

.eventDescription {
  -webkit-box-orient: vertical;
  color: $text-color-input;
  display: -webkit-box;
  font-size: $font-size-secondary;
  -webkit-line-clamp: 2;
  line-height: $line-height-hint-text;
  margin-bottom: $spacer-very-small;
  overflow: hidden;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
    -webkit-line-clamp: 4;
    margin-bottom: $spacer-small;
  }
}

.emphasis {
  color: $text-color-emphasis;
}

.iconWrapper {
  margin-bottom: $spacer-small;
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;

  &:not(:last-child) {
    margin-bottom: $spacer-very-small;

    @include desktop() {
      margin-bottom: $spacer-small;
    }
  }
}

.icon {
  flex-shrink: 0;
  height: 14px;
  margin-right: $spacer-very-small;
  stroke: $text-color-input;
  stroke-width: 2;
  width: 14px;

  @include desktop() {
    height: 16px;
    width: 16px;
  }
}

.data {
  color: $text-color-emphasis;
  font-family: $mono-font;
  font-size: $font-size-tertiary;
  font-weight: $font-weight-regular;
  line-height: $line-height-hint-text;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.favoriteIcon {
  display: none;
  fill: none;
  height: 24px;
  position: absolute;
  right: 16px;
  stroke: $text-color-primary;
  stroke-width: 2;
  transition: all $animation-duration ease;
  width: 24px;

  @include desktop() {
    bottom: $spacer-small;
    display: block;
    height: 32px;
    right: $spacer-small;
    top: initial;
    width: 32px;

    &:hover:not(:disabled) {
      stroke: $text-color-emphasis;
      transform: scale(1.05);
    }
  }
}

.favoriteIconGlass {
  position: absolute;
  right: 12px;
  top: 12px;
  transition: all $animation-duration ease;
  z-index: 2;

  @include desktop() {
    display: none;
  }
}

.favorited {
  fill: $red-color;
  stroke: $red-color;

  @media (prefers-reduced-motion: no-preference) {
    animation-duration: $animation-duration-longer;
    animation-fill-mode: both;
    animation-name: favorited-full-motion;
    animation-timing-function: ease;
  }

  &:hover:not(:disabled) {
    stroke: $red-color;
  }
}

.button {
  @include resetButton();
}

.primaryButton {
  border-radius: $border-radius-inside-card;

  @include desktop() {
    align-self: flex-start;
    width: fit-content !important;
  }
}

.hideOverflow {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* The full motion version of the animation. */
@keyframes favorited-full-motion {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1.0);
  }
}
