.container {
  display: flex;
  flex-direction: column;
  gap: $spacer-medium;

  @include desktop() {
    gap: $spacer-medium-plus;
  }

  .swiperContainer {

    .swiperHeader {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 $spacer-small;

      h1 {
        color: $text-color-emphasis;
        font-size: $font-size-heading-medium;
        margin-bottom: $spacer-very-small-plus;

        @include desktop() {
          font-size: $font-size-heading-medium-desktop;
          margin-bottom: $spacer-small;
        }
      }
    }
  }
}

.mySwiperSlide {
  max-width: 320px;
  width: 80%;
}

.mySwiperSlide:last-child {
  margin-right: $spacer-small;
}

.mySwiperSlide:first-child {
  margin-left: $spacer-small;
}

.link {
  @include link();
}
