.container {
  display: flex;
  flex-direction: column;
  gap: $spacer-medium-plus;

  @include desktop() {
    gap: $spacer-large;
  }

  .swiperContainer {

    .swiperHeader {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 $spacer-small $spacer-small;

      @include desktop() {
        margin: 0 $spacer-small $spacer-small-plus;
      }

      h1 {
        color: $text-color-emphasis;
        font-size: $font-size-heading-medium;

        @include desktop() {
          font-size: $font-size-heading-medium-desktop;
        }
      }
    }
  }
}

.mySwiperSlide {
  max-width: 320px;
  width: 80%;
}

.swiperSlideOrg {
  width: $avatar-size-large;

  @include desktop() {
    width: $avatar-size-large-desktop;
  }
}

.swiperSlideOrg:last-child {
  margin-right: $spacer-small;
}

.swiperSlideOrg:first-child {
  margin-left: $spacer-small;
}

.mySwiperSlide:last-child {
  margin-right: $spacer-small;
}

.mySwiperSlide:first-child {
  margin-left: $spacer-small;
}

.link {
  @include link();
}
