.imageInputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.label {
  @include label();
  align-self: flex-start;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.primaryButton {
  align-self: center;
  margin-top: $spacer-medium;
}

.imageInput {
  display: none;
}

.imageInputButton {
  @include resetButton;
  align-items: center;
  background-color: var(--background-color-input, $background-color-input);
  box-shadow: none;
  display: flex;
  font-weight: $font-weight-regular;
  justify-content: center;
  outline: 1px solid var(--border-color-input, $border-color-input);
  padding: $spacer-small 0;
  transition: box-shadow $animation-duration ease;

  @include desktop() {
    &:focus, &:hover {
      background-color: var(--background-color-input-hover, $background-color-input-hover);
    }

    &:hover {
      box-shadow: var(--shadow-input, $shadow-input);
      outline: 1px solid transparent;
    }
  }
}

.imageInputButtonLabel {
  color: inherit;
  margin-left: $spacer-very-small;
}

.imageContainer {
  border-radius: $border-radius-regular;
  height: 250px;
  margin-bottom: $spacer-very-small-plus;
  max-width: $max-width-input;
  overflow: hidden;
  position: relative;

  @include desktop() {
    height: 350px;
  }
}

.errorContainer {
  @include errorContainer();
}

.errorIcon {
  @include errorIconDimensions();
  stroke: var(--error-color, $error-color);
}

.errorText {
  @include errorText();
}

.warningContainer {
  @include errorContainer();
  align-items: center;
}

.warningIcon {
  @include errorIconDimensions();
  flex-shrink: 0;
  stroke: var(--warning-color, $warning-color);
}

.warningText {
  @include warningText();
}

.asterisk {
  color: var(--error-color, $error-color);
}

.labelValid {
  .asterisk {
    color: var(--success-color, $success-color);
  }
}

.card {
  @include desktop() {
    &:focus, &:hover {
      background-color: var(--background-color-input, $background-color-input);
    }
  }
}
