.imageInputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.label {
  @include label();
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.primaryButton {
  align-self: center;
  margin-top: $spacer-medium;
}

.imageInput {
  display: none;
}

.imageInputButton {
  @include resetButton;
  align-items: center;
  background-color: $background-color-input-muted;
  display: flex;
  font-weight: $font-weight-regular;
  justify-content: center;
  padding: $spacer-small 0;
}

.imageInputButtonLabel {
  color: inherit;
  margin-left: $spacer-very-small;
}

.imageContainer {
  border-radius: $border-radius-regular;
  height: 250px;
  margin-bottom: $spacer-very-small-plus;
  max-width: $max-width-input;
  overflow: hidden;
  position: relative;

  @include desktop() {
    height: 350px;
  }
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}
