.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.padding {
  padding-bottom: 400px;
}
.actionContainer {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  margin-bottom: $spacer-medium;
  width: 100%;

  .close {
    height: 24px;
    svg {
      height: 24px;
      stroke: $text-color-emphasis;
      width: 24px;
    }
    @include desktop() {
      height: 30px;
      svg {
        height: 32px;
        width: 32px;
      }
    }
  }
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.title {
  margin-bottom: $spacer-very-small;
}

.subTitle {
  font-size: $font-size-secondary;
  margin-bottom: $spacer-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }

  @include createEventDesktop() {
    margin-bottom: $spacer-large;
  }
}

.inputContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.progressBarContainer {
  margin-bottom: $spacer-large;

  @include createEventDesktop() {
    margin-bottom: 0;
  }
}

.childrenContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.primaryButton {
  bottom: $spacer-medium;
  font-size: $font-size-primary;
  position: fixed;
  width: $page-width-mobile;

  @include desktop() {
    font-size: $font-size-primary-desktop;
  }
}

.placeStatic {
  bottom: 0;
  margin-bottom: 0;
  margin-bottom: $spacer-medium;
  margin-top: $spacer-large;
  position: static;
  width: 100%;
}

@media screen and (max-height: 600px) {
  .primaryButton {
    margin-bottom: $spacer-medium;
    margin-top: $spacer-large;
    position: static;
  }
}

@media screen and (min-height: 900px) {
  .primaryButton {
    bottom: $spacer-large;
  }
}

@media screen and (min-height: 1300px) {
  .primaryButton {
    bottom: 50%;
  }
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

@include desktop() {
  .title {
    font-size: $font-size-title-desktop;
    margin-bottom: $spacer-small;
  }
}
