.container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $spacer-small;
  width: 100%;

  /* TODO: Adjust this? */
  @include desktop() {
    margin-bottom: $spacer-medium;
  }
}

.title {
  color: $text-color-primary;
  font-size: $font-size-heading-large;
  font-weight: $font-weight-regular;
  margin-right: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-heading-large-desktop;
    margin-right: $spacer-very-small-plus;
  }
}
