.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 90%;
  @include desktop() {
    margin-bottom: 7rem;
  }

  .header {
    @include headingContainer();
  }

  .contentContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
  }

  .inviteMembersButton {
    @include resetButton();
    align-self: flex-start;
    display: flex;
    margin-bottom: $spacer-small;

    p {
      color: var(--primary-color-200, $primary-color-200);
      font-family: $mono-font;
      font-size: $font-size-secondary;
      margin-left: $spacer-very-small;

      @include desktop() {
        font-size: $font-size-secondary-desktop;
      }
    }

    .plusIconDimensions {
      height: $font-size-secondary;
      stroke: var(--primary-color-200, $primary-color-200);
      width: $font-size-secondary;

      @include desktop() {
        height: $font-size-secondary-desktop;
        width: $font-size-secondary-desktop;
      }
    }
  }

  .inviteOrgContainer {
    align-items: flex-end;
    align-self: flex-start;
    display: flex;
  }

  .arrangerInput {
    margin-right: $spacer-small;
  }

  .selected {
    align-self: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: $spacer-very-small;
    margin-bottom: $spacer-small;
    margin-top: $spacer-small;

    .selectedUser {
      align-items: center;
      background-color: var(--background-color-card, $background-color-card);
      border-radius: $border-radius-round;
      cursor: pointer;
      display: flex;
      font-size: $font-size-tertiary;
      gap: $spacer-mini;
      max-width: 500px;
      padding: $spacer-mini $spacer-small;
    }
  }
}

.primaryButton {
  @include fixedButton();
  width: 90%;
}

.addIcon {
  stroke: var(--text-color-button, $text-color-button);
}

.closeIcon {
  stroke: var(--text-color-emphasis, $text-color-emphasis);
}
