.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: $spacer-medium;
  width: 100%;

  @include desktop() {
    padding-bottom: $spacer-large;
  }
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: $page-width-mobile;
}

.left {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.right {
  align-items: flex-end;
}
