.loginWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loginHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer-medium-plus;
    margin-top: $spacer-medium-plus;

    h1 {
      margin-bottom: $spacer-very-small;
    }

    p {
      font-size: $font-size-secondary;
    }
  }

  .loginIllustration {
    border-radius: 100%;
    overflow: hidden;
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid $text-color-primary;
    box-sizing: border-box;
  }

  .loginButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: $spacer-large;
    width: 267px;
  }

  .loginButtonText {
    text-align: center;
    font-size: $font-size-tertiary;
    line-height: $line-height-text;
    margin-top: $spacer-very-small;
  }

  .card {
    @include card();
    display: flex;
    position: relative;
    flex-direction: column;
    padding: $spacer-small $spacer-medium $spacer-medium-plus;
    row-gap: $spacer-medium;

    .cardSection {
      display: flex;
      flex-direction: column;

      .sectionName {
        margin-bottom: $spacer-very-small;
        color: $text-color-primary;
        font-size: $font-size-secondary;
      }

      .sectionData {
        color: $text-color-emphasis;
        font-family: $mono-font;
      }
    }

    .checkContainer {
      height: 40px;
      width: 40px;
      position: absolute;
      bottom: -20px;
      left: calc(50% - 20px);
    }
  }

  .confirmButton {
    margin-top: $spacer-very-large;
  }
}
