.loginWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;

  .loginHeaderContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: $spacer-medium-plus;
    margin-top: $spacer-medium-plus;

    h1 {
      margin-bottom: $spacer-very-small;
    }

    p {
      font-size: $font-size-secondary;
    }
  }

  .loginIllustration {
    align-items: center;
    border: 4px solid $text-color-primary;
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    height: 350px;
    justify-content: center;
    overflow: hidden;
    width: 350px;
  }

  .loginButtonContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: $spacer-large;
    width: 267px;
  }

  .loginButtonText {
    font-size: $font-size-tertiary;
    line-height: $line-height-text;
    margin-top: $spacer-very-small;
    text-align: center;
  }

  .card {
    @include card();
    display: flex;
    flex-direction: column;
    padding: $spacer-small $spacer-medium $spacer-medium-plus;
    position: relative;
    row-gap: $spacer-medium;

    .cardSection {
      display: flex;
      flex-direction: column;

      .sectionName {
        color: $text-color-primary;
        font-size: $font-size-secondary;
        margin-bottom: $spacer-very-small;
      }

      .sectionData {
        color: $text-color-emphasis;
        font-family: $mono-font;
      }
    }

    .checkContainer {
      animation-duration: $animation-duration;
      animation-fill-mode: both;
      animation-name: check-reduced-motion;
      animation-timing-function: ease;
      bottom: -20px;
      height: 40px;
      left: calc(50% - 20px);
      position: absolute;
      width: 40px;

      @media (prefers-reduced-motion: no-preference) {
        animation-name: check-reduced-motion, check-full-motion;
      }
    }

    .checkIcon {
      animation-duration: $animation-duration;
      animation-fill-mode: both;
      animation-name: check-circle-reduced-motion;
      animation-timing-function: ease;
      stroke: $text-color-black;
    }
  }

  .primaryButton {
    margin-top: $spacer-very-large;
  }
}

/* The reduced motion version of the animation. */
@keyframes check-reduced-motion {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* The full motion version of the animation. */
@keyframes check-full-motion {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1.0);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1.0);
  }
}

@keyframes check-circle-reduced-motion {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
    transform: scale(1.0);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}
