.container {
  @include card();
  align-items: stretch;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: $max-width-card;
  padding: $spacer-very-small-plus $spacer-small;
  width: 100%;

  svg {
    stroke: $text-color-primary;
  }

  .icon {
    @include resetButton();
    align-items: center;
    display: flex;
    padding-left: $spacer-small;
  }

  .info {
    align-items: center;
    display: flex;
    gap: $spacer-very-small;
    width: 100%;

    .nameAndDescription {
      .name {
        color: $text-color-emphasis;
        font-size: $font-size-primary;
        margin-bottom: $spacer-mini;

        @include desktop(){
          font-size: $font-size-primary-desktop;
        }
      }

      .description {
        -webkit-box-orient: vertical;
        display: -webkit-box;
        font-size: $font-size-tertiary;
        -webkit-line-clamp: 2;
        line-height: $line-height-hint-text;
        margin-bottom: $spacer-mini;
        overflow: hidden;

        @include desktop(){
          font-size: $font-size-tertiary-desktop;
        }
      }
    }
  }
}
