
.wrapper {
  align-items: center;
  backdrop-filter: blur($background-blur-soft);
  background-color: var(--background-color-modal-transparent, $background-color-modal-transparent);
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0 auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: $z-index-modal;
}

.backdrop {
  background: none;
  border: none;
  bottom: 0;
  cursor: default;
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.container {
  align-items: center;
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-name: modal-enter-reduced-motion;
  animation-timing-function: ease;
  background-color: var(--background-color-modal, $background-color-modal);
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: $spacer-medium;
  padding-top: $spacer-medium-plus;
  position: relative;
  width: $page-width-mobile;

  @include desktop() {
    max-width: $max-width-modal-desktop;
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    animation-name: modal-enter-reduced-motion, modal-enter-full-motion;
  }
}

.exitIcon {
  @include resetButton();
  position: absolute;
  right: $spacer-very-small;
  stroke: var(--text-color-emphasis, $text-color-emphasis);
  top: $spacer-very-small;

  @include desktop() {
    right: $spacer-small;
    top: $spacer-small;
  }
}

.title, .description {
  text-align: center;
}

.title {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-size: $font-size-heading-medium;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-heading-medium-desktop;
    margin-bottom: $spacer-small-plus;
  }
}

.button {
  border-radius: $border-radius-inside-card;
}

.button:not(:last-child) {
  margin-top: $spacer-medium;

  @include desktop() {
    margin-top: $spacer-medium-plus;
  }
}

.button:last-child {
  margin-top: $spacer-very-small;

  @include desktop() {
    margin-top: $spacer-very-small-plus;
  }
}

.descriptionContainer {
  margin-bottom: $spacer-medium;
}

.description {
  color: var(--text-color-primary, $text-color-primary);
  font-size: $font-size-secondary;
  line-height: $line-height-hint-text;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

/* The reduced motion version of the animation. */
@keyframes modal-enter-reduced-motion {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* The full motion version of the animation. */
@keyframes modal-enter-full-motion {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}
