.cardWrapper {
  align-items: center;
  background-color: $background-color-card;
  border-radius: $border-radius-regular;
  color: $text-color-emphasis;
  cursor: pointer;
  display: flex;
  justify-content: center;
  max-width: $max-width-card;
  padding-bottom: $spacer-small;
  width: 100%;
}

.cardContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.contentContainer {
  padding: 0 $spacer-small;
  width: 100%;
}

.imageContainer {
  border-radius: $border-radius-regular $border-radius-regular 0 0;
  height: calc(100vw / 1.78);
  margin-bottom: $spacer-small;
  max-height: calc(500px / 1.78);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.titleContainer {
  align-items: flex-end;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: $spacer-very-small-plus;

  @include desktop() {
    margin-bottom: $spacer-small;
  }
}

.title {
  flex: 1 0 70%;
  font-size: $font-size-heading-medium;
  font-weight: $font-weight-bold;

  @include desktop() {
    font-size: $font-size-heading-small-desktop;
  }
}

.capacityContainer {
  align-items: center;
  display: flex;
  flex: 1 0 30%;
  flex-flow: row nowrap;
  justify-content: flex-end;
  white-space: nowrap
}

.icon {
  height: $font-size-secondary;
  margin-right: $spacer-very-small;
  stroke: $primary-color-200;
  width: $font-size-secondary;
}

.data {
  font-family: $mono-font;
  font-size: $font-size-secondary;
  font-weight: $font-weight-regular;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.emphasis {
  color: $text-color-emphasis;
}

.divider {
  background-color: $divider-color;
  border-radius: $border-radius-regular;
  display: block;
  height: 1px;
  margin-bottom: $spacer-very-small-plus;
  width: 100%;

  @include desktop() {
    margin-bottom: $spacer-small;
  }
}

.dataContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-very-small-plus;
  margin-bottom: $spacer-medium;

  @include desktop() {
    gap: $spacer-small;
    margin-bottom: $spacer-medium;
  }
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
}

.iconLink {
  border-radius: $border-radius-inside-card;
}
