.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-small-plus;
  justify-content: center;
  width: 100%;

  @include desktop() {
    margin-top: $spacer-medium;
  }

  .button {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.userContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: $spacer-medium;
  width: $page-width-mobile;

  @include desktop() {
    margin-bottom: $spacer-large;
  }
}

.title {
  font-size: $font-size-title;
  margin-right: $spacer-mini;

  @include desktop() {
    font-size: $font-size-title-desktop;
    margin-right: $spacer-very-small;
  }
}

.errorTitle {
  font-size: $font-size-heading-large;
  margin-bottom: $spacer-small;
  text-align: center;

  @include desktop() {
    font-size: $font-size-heading-large-desktop;
    margin-bottom: $spacer-medium;
  }
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

.loginButtonContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: $spacer-medium;
}

.loginButtonText {
  font-size: $font-size-tertiary;
  letter-spacing: 0.02em;
  line-height: $line-height-text;
  margin-top: $spacer-very-small;
  max-width: 267px;
  text-align: center;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
    letter-spacing: 0;
  }
}

.chevronDownIcon {
  height: 18px;
  stroke: $text-color-primary;
  width: 18px;

  @include desktop() {
    height: 24px;
    width: 24px;
  }
}

.sectionButtonsContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: $spacer-medium;
  width: 100%;

  @include desktop() {
    margin-bottom: $spacer-large;
  }
}

.buttonsContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;

  .button {
    @include resetButton();
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }
}

.eventContainer {  
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-medium;
  max-width: calc(1000px + $spacer-medium); // to accomodate to card max-width 500px for centering
  width: $page-width-mobile;

  @include desktop() {
    flex-flow: row wrap;

    > * {
      flex: 1 1 48%;

      &.multiple {
        flex: 1 1 100%;
      }
    }
  }
}

.eventCardsContainer {
  display: flex;
  flex: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $spacer-medium;

  @include desktop() {
    flex-direction: row;

    > * {
      flex: 1 1 48%;
    }
  }
}

.dateTitle {
  font-size: $font-size-heading-large;
  margin-bottom: $spacer-very-small-plus;

  @include desktop() {
    font-size: $font-size-heading-large-desktop;
    margin-bottom: $spacer-small;
  }
}

.dateTag {
  font-size: $font-size-secondary;
  margin-bottom: $spacer-mini;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.sectionIcon {
  fill: none;
  height: 24px;
  stroke: $text-color-primary;
  transition: all $animation-duration ease;
  width: 24px;

  @include desktop {
    height: 32px;
    width: 32px;
  }
}

.active {
  stroke: $text-color-emphasis;
}

.imageContainer {
  margin-bottom: $spacer-small;
  max-width: 250px;

  @media screen and (min-width: 600px) and (min-height: 900px) {
    margin-bottom: $spacer-medium;
    max-width: 300px;
  }
}

.activeLine {
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  animation-name: line-enter-reduced-motion;
  animation-timing-function: ease;
  background-color: $text-color-emphasis;
  bottom: -8px;
  height: 1px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 100%;

  @media (prefers-reduced-motion: no-preference) {
    animation-name: line-enter-reduced-motion, line-enter-full-motion;
  }
}

/* The reduced motion version of the animation. */
@keyframes line-enter-reduced-motion {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* The full motion version of the animation. */
@keyframes line-enter-full-motion {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
