
.wrapper {
  bottom: 0;
  display: flex;
  justify-content: center;
  max-width: $max-width;
  padding-bottom: $spacer-small;
  position: fixed;
  transition: transform 0.4s ease;
  width: 100vw;
  z-index: 999;

  .container {
    @include background-opacity($background-color-input, 0.85);
    align-items: flex-start;
    backdrop-filter: blur(8px);
    border-radius: $border-radius-round;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    margin: 0 $spacer-very-small;
    max-width: 200px;
    padding: $spacer-very-small-plus $spacer-medium-plus;
    padding-top: $spacer-small;
    width: 100%;

    .item {
      cursor: pointer;
      filter: invert(40%) sepia(0%) saturate(175%) hue-rotate(43deg) brightness(113%) contrast(84%);
      transition: all 0.15s ease;

      @include desktop() {
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .active {
      filter: drop-shadow(0px 3px 6px rgba(231, 231, 231, 0.5));

    }

    .underline {
      background-color: #FFFFFF;
      border-radius: $border-radius-round;
      display: block;
      height: 2px;
      margin: 0 auto;
      margin-top: $spacer-mini;
      width: 0.75rem;
    }

    .button {
      margin-top: -1.75rem;
    }
  }
}

.hidden {
  transform: translateY(100px);
}
