.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 90%;

  @include desktop() {
    margin-bottom: 7rem;
  }

  .header {
    @include headingContainer();
    margin-top: $spacer-small;
  }

  .imageContainer {
    margin-top: $spacer-medium-plus;
    max-width: 250px;
    padding-right: 15px;

    @include desktop() {
      max-width: 400px;
    }
  }

  .subheader {
    margin-top: $spacer-small-plus;
    text-align: center;

    h2 {
      font-size: $font-size-heading-medium;
      margin-bottom: $spacer-very-small;
      @include desktop() {
        font-size: $font-size-heading-medium-desktop;
      }
    }
  }

  .notifications {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $spacer-small;
    max-width: 450px;
    width: 100%;
  }

  .notification {
    @include card();
    align-items: center;
    display: flex;
    gap: $spacer-small;
    padding: $spacer-small-plus $spacer-medium;
    width: 100%;

    a {
      color: var(--text-color-emphasis, $text-color-emphasis);
    }

    p {
      color: var(--text-color-emphasis, $text-color-emphasis);
      line-height: $line-height-text;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: $spacer-small;

      .hoursSince {
        color: var(--text-color-primary, $text-color-primary);
      }
    }
  }

  .actions {
    display: flex;
    gap: $spacer-very-small;

    button {
      padding: $spacer-very-small $spacer-small;
    }
  }


}
