.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.labelContainer {
  @include labelContainer();
}

.label {
  @include label();
}

.numberInput {
  @include input();
  max-width: $max-width-input-number;
}

.numberInput::placeholder {
  color: var(--text-color-input, $text-color-input);
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  color: var(--error-color, $error-color);
  font-size: $font-size-tertiary;
  margin-left: $spacer-very-small;
}

.errorIcon {
  @include errorIconDimensions();
  stroke: var(--error-color, $error-color);
}

.notValid {
  outline: 1px solid var(--error-color, $error-color);
}

.required {
  color: var(--text-color-emphasis, $text-color-emphasis);
}

.asterisk {
  color: var(--error-color, $error-color);
}

.labelValid {
  .asterisk {
    color: var(--success-color, $success-color);
  }
}
