.heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .settingsIcon {
    height: 24px;
    width: 24px;

    @include desktop() {
      height: 32px;
      width: 32px;
    }
  }
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $spacer-small-plus;
  text-align: center;

  @include desktop() {
    margin-bottom: $spacer-medium;
  }
}

.title {
  font-size: $font-size-heading-large;
  text-align: center;

  @include desktop() {
    font-size: $font-size-heading-large-desktop;
  }
}

.description {
  @include normalText();
  font-size: $font-size-secondary;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.avatarContainer {
  margin-bottom: $spacer-small;
  @include desktop () {
    margin-bottom: $spacer-small-plus;
  }
}

.eventWrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: $spacer-medium;
  @include desktop() {
    margin-bottom: $spacer-medium-plus;
  }
}

.eventContainer {
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-small;

  @include desktop() {
    gap: $spacer-small-plus;
  }
}

.eventHeaderContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: $spacer-very-small-plus;

  @include desktop() {
    margin-bottom: $spacer-small;
  }
}

.eventHeader {
  color: $text-color-emphasis;
  font-size: $font-size-heading-medium;
  font-weight: $font-weight-bold;

  @include desktop() {
    font-size: $font-size-heading-medium-desktop;
  }
}

.dataContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: $spacer-large;
  justify-content: center;
  margin-bottom: $spacer-medium-plus;

  @include desktop() {
    gap: $spacer-very-large;
    margin-bottom: $spacer-large;
  }
}

.iconContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-very-small;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: $spacer-very-small;
  margin-bottom: $spacer-very-small;
  position: relative;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.data {
  color: $text-color-emphasis;
  font-size: $font-size-data;
  font-weight: $font-weight-bold;
  @include monoFont();

  @include desktop() {
    font-size: $font-size-data-desktop;
  }
}

.dataDescription {
  font-size: $font-size-tertiary;
  @include monoFont();

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.noMargin {
  margin-bottom: 0;
}

.uppercase {
  @include uppercase();
}

.link {
  @include link();
}

.icon {
  height: 16px;
  stroke: $primary-color-200;
  stroke-width: 2;
  width: 16px;

  @include desktop() {
    height: 24px;
    width: 24px;
  }
}

.marginBottomMedium {
  margin-bottom: $spacer-small;

  @include desktop() {
    margin-bottom: $spacer-medium;
  }
}
