.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $spacer-small;
  margin-top: $spacer-medium;
  max-width: 400px;
  width: 90%;

  .item {
    @include resetButton();
    @include card();
    align-items: center;
    display: flex;
    gap: $spacer-small; // in case org name is too long
    justify-content: space-between;
    padding: $spacer-small;
    text-align: start;
    width: 100%;

    p {
      color: var(--text-color-emphasis, $text-color-emphasis);
      max-width: 100%;
      word-break: break-all;
    }

    svg {
      stroke: var(--text-color-emphasis, $text-color-emphasis);
    }

    &:last-child {
      p {
        color: var(--text-color-link, $text-color-link);
      }

      svg {
        height: 16px;
        stroke: var(--text-color-link, $text-color-link);
        width: 16px;
      }
    }
  }
}
