.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 5rem;
  width: 100%;
  
  @include desktop() {
    margin-bottom: 7rem;
  }

  .content {
    // max-width: 450px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: $spacer-very-small;
    margin-top: $spacer-medium;
    padding: 0 $spacer-small;
    width: 100%;
  }
}

.backButton {
  margin-left: 5%;
}

.header {
  @include headingContainer();
}

.notFound {
  text-align: center;
  width: 100%;
}

.searchContainer {
  margin-bottom: $spacer-small-plus;
  width: 100%;
}
