.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  @include resetButton();
  background-color: $primary-color-400;
  box-shadow: $shadow-button;
  color: $text-color-emphasis;
  cursor: pointer;
  font-size: $font-size-primary;
  font-weight: $font-weight-bold;
  max-width: $max-width-button;
  padding: $spacer-small 0;
  transition: all $animation-duration ease;
  width: 100%;

  &:disabled {
    background-color: $button-color-disabled;
    box-shadow: none;
    color: $text-color-primary;
    cursor: initial;
    font-weight: $font-weight-regular;
  }

  @include desktop() {
    font-size: $font-size-primary-desktop;

    &:hover {
      background-color: $primary-color-400-hover;
      box-shadow: $shadow-button-hover;
    }
  }

  &:active {
    box-shadow: none !important;  // TODO: Remove the !important here.
    transform: translateY(2px);  // TODO: This property is very dangerous.
  }
}

.small {
  font-size: $font-size-secondary;
  padding: $spacer-very-small-plus $spacer-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
    padding: $spacer-small $spacer-small-plus;
  }
}
