.container {
  @include resetButton();
  @include monoFont();
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: $spacer-small;

  p {
    color: var(--text-color-emphasis, $text-color-emphasis);
  }

  svg {
    height: 1rem;
    stroke: var(--text-color-link, $text-color-link);
    width: 1rem;
  }

  .left {
    column-gap: $spacer-small;
    display: flex;
  }
}

.danger {
  p {
    color: var(--danger-color, $danger-color);
  }

  svg {
    stroke: var(--danger-color, $danger-color);
  }
}
