.progressConnector {
  background-color: var(--background-color-progress-connector, $background-color-progress-connector);
  height: 2px;
  width: 16px;
}

.active {
  background-color: var(--background-color-progress-connector-active, $background-color-progress-connector-active);
}

.success {
  background-color: var(--success-color, $success-color);
}

@include createEventDesktop() {
  .progressConnector {
    height: 64px;
    width: 2px;
  }
}
