.wrapper {
  @include resetButton();
  position: relative;
  &:disabled {
    cursor: default;
  }
}

.container {
  align-items: center;
  background-color: var(--background-color-progress-circle, $background-color-progress-circle);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 4px;
  position: relative;
  stroke: none;
}

.smallCheckIcon {
  height: 8px;
  width: 8px;

  @include desktop() {
    height: 14px;
    width: 14px;
  }
}

.label {
  display: none;
  text-align: left;
  white-space: nowrap;

  @include createEventDesktop() {
    display: block;
    font-size: $font-size-tertiary;
    line-height: 1.5;
    min-width: 85px;
    position: absolute;
    right: -$spacer-very-small;
    top: 50%;
    transform: translate(100%, -50%);
  }
}

.labelActive {
  color: var(--text-color-emphasis, $text-color-emphasis);
}

.active {
  background-color: var(--background-color-progress-circle-active, $background-color-progress-circle-active);
}

.success {
  background-color: var(--success-color, $success-color);
  stroke: var(--icon-color, $icon-color);
}

@include createEventDesktop() {
  .container {
    padding: 8px;
  }
}
