.buttonWrapper {
  align-items: center;
  flex: 0 1 calc(33.3333% - $spacer-small);
  flex-flow: column nowrap;
  text-align: center;
  transition: (color, background-color) $animation-duration ease;
}

.buttonContainer {
  @include resetButton();
  align-items: center;
  background-color: $background-color-input;
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: $spacer-small;
  padding: $spacer-small-plus $spacer-small;
  position: relative;
  transition: background-color $animation-duration ease;
  width: 100%;

  svg:not(:last-child) {
    stroke: $text-color-emphasis;
  }
}

.hintText {
  font-size: $font-size-tertiary;
  line-height: $line-height-hint-text;
  transition: color $animation-duration ease;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.emphasis {
  color: $text-color-emphasis;
}

.selected {
  background-color: $success-color-input;
}

.radioButtonText {
  color: $text-color-emphasis;
  margin-top: $spacer-very-small;
  text-transform: capitalize;

  @include desktop() {
    font-size: $font-size-primary-desktop;
  }
}
