.radioInputWrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.radioButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  gap: $spacer-medium;
}

.labelText {
  font-size: $font-size-heading-medium;
  margin-bottom: $spacer-very-small-plus;

  @include desktop() {
    font-size: $font-size-heading-medium-desktop;
  }
}
