.radioInputWrapper {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.radioButtonsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.labelText {
  @include label();
  color: $text-color-emphasis;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}
