.wrapper {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 0 auto;
  max-width: $page-width-mobile;
  width: $page-width-mobile;

  .confirm {
    @include fixedButton();
  }
}

.title {
  font-size: $font-size-title;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-title-desktop;
  }
}

.subTitle {
  font-size: $font-size-secondary;
  margin-bottom: $spacer-large;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.inputHeader {
  @include uppercase();
  color: var(--text-color-primary, $text-color-primary);
  margin-bottom: $spacer-very-small-plus;
  text-transform: uppercase;
}

.imageContainer {
  margin-bottom: $spacer-small;
  max-width: 250px;

  @media screen and (min-width: 600px) and (min-height: 900px) {
    margin-bottom: $spacer-medium;
    max-width: 300px;
  }
}

.section {
  max-width: $max-width-input;
  width: 100%;
}

.notificationContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-mini;
  width: 100%;
}

.userContainer {
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-small;
}

.contentContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-medium-plus;
  width: 100%;
}

.marginBottomSmall {
  margin-bottom: $spacer-small;
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

.marginLeftMedium {
  margin-left: $spacer-medium;
}

.subsection {
  display: flex;
  flex-direction: column;
  gap: $spacer-small;
  margin-left: $spacer-medium;
  margin-top: $spacer-small;
}
