.container {
  @include iconCircle();
  background-color: var(--background-color-check, $background-color-check);
  padding: 4px;
  stroke: var(--success-color, $success-color);
}

.placeBottomCenter {
  background-color: var(--success-color, $success-color);
  bottom: 0;
  box-shadow: $shadow-check;
  left: 50%;
  position: absolute;
  stroke: $black-color;
  transform: translate(-50%, 50%);
}

.placeRight {
  position: absolute;
  right: -$spacer-very-small;
  top: 50%;
  transform: translate(100%, -50%);
}

.purple {
  background-color: var(--primary-color-400, $primary-color-400);
  stroke: var(--text-color-button, $text-color-button);
}

.small {
  height: 8px;
  width: 8px;

  @include desktop() {
    height: 12px;
    width: 12px;
  }
}

.verySmall {
  height: 8px;
  width: 8px;

  @include desktop() {
    height: 10px;
    width: 10px;
  }
}
