.container {
  align-items: center;
  background-color: $success-color-muted;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 4px;
  stroke: $success-color;
}

.placeBottomCenter {
  background-color: $success-color;
  bottom: 0;
  box-shadow: $shadow-check;
  left: 50%;
  position: absolute;
  stroke: $black-color;
  transform: translate(-50%, 50%);
}
