.container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.headerContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  width: 90%;
}

.progressBarContainer {
  margin-bottom: $spacer-large;
}

.title {
  margin-bottom: $spacer-very-small;
}

.subTitle {
  margin-bottom: $spacer-small;
}
.summaryWrapper {
  width:90%;
}

.summaryContainer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-medium;
  width: 100%;

  @include createEventDesktop() {
    box-sizing: border-box;
    max-width: calc($max-width-input + 180px);
    padding-left: 180px;
  }
}

.backButtonContainer {
  width: 90%;
}

.primaryButton {
  bottom: $spacer-medium;
  font-size: $font-size-primary;
  position: fixed;
  width: $page-width-mobile;

  @include desktop() {
    font-size: $font-size-primary-desktop;
  }

  @include createEventDesktop() {
    margin-top: $spacer-large;
    position: static;
    width: 100%;
  }
}

.addDateContainer {
  @include resetButton();

  display: flex;
  padding: $spacer-very-small 0;
}

.addDateText {
  color: var(--text-color-link, $text-color-link);
  font-family: $mono-font;
  font-size: $font-size-secondary;
  margin-left: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.addDateIcon {
  height: $font-size-secondary;
  stroke: var(--text-color-link, $text-color-link);
  width: $font-size-secondary;

  @include desktop() {
    height: $font-size-secondary-desktop;
    width: $font-size-secondary-desktop;
  }
}

.deleteButton {
  background-color: transparent;
  color: var(--text-color-primary, $text-color-primary);
  cursor: pointer;
  font-size: $font-size-primary;
  margin-top: -1rem;
  text-decoration: underline;
}

.deleteImage {
  align-self: center;
  background: none;
  border: none;
  color: var(--text-color-primary, $text-color-primary);
  cursor: pointer;
  font-family: inherit;
  font-size: $font-size-primary;
  margin-top: -1rem;
  padding: 0;
  text-decoration: underline;
}

.placeStatic {
  bottom: 0;
  margin-bottom: 0;
  margin-bottom: $spacer-medium;
  margin-top: $spacer-large;
  position: static;
  width: 100%;
}

.titleText {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-size: $font-size-secondary;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  text-align: left;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.dateText {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-family: $mono-font;
  font-size: $font-size-secondary;
  font-weight: $font-weight-regular;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.placeText {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-family: $mono-font;
  font-size: $font-size-secondary;
  font-weight: $font-weight-regular;
  margin-right: $spacer-very-small;
  text-align: left;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.address {
  color: var(--text-color-primary, $text-color-primary);
  font-size: $font-size-tertiary;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.descriptionText {
  font-size: $font-size-secondary;
  line-height: 1.5;
  text-align: left;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.descriptionContainer {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  margin-bottom: $spacer-medium;
  overflow: hidden;
  text-align: left;
}

.categoryContainer {
  align-items: left;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
}

.categoryTagsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: $spacer-very-small-plus;
  justify-content: left;
}

.dataContainer {
  align-items: left;
  display: flex;
  flex-flow: column nowrap;
  gap: $spacer-very-small-plus;
}

.dataItemContainer {
  display: flex;
  flex-flow: row nowrap;
}

.dataLabel {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-family: $mono-font;
  font-size: $font-size-secondary;
  margin-left: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

/* .imageContainer {
  border-radius: $border-radius-inside-card;

  > * {
    border-radius: $border-radius-inside-card;
  }
} */

.imageContainer {
  border-radius: $border-radius-regular;
  height: 250px;
  margin-bottom: $spacer-very-small-plus;
  max-width: $max-width-input;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include desktop() {
    height: 350px;
  }
}


.categoryLabel {
  font-size: $font-size-secondary;
  font-weight: $font-weight-bold;
  margin-bottom: $spacer-very-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
    margin-bottom: $spacer-very-small-plus;
  }
}

.categoryTag {
  background-color: var(--background-color-button-secondary-hover, background-color-button-secondary-hover);
  color: var(--text-color-emphasis, $text-color-emphasis);
}

.textColorPrimary {
  color: var(--text-color-primary, $text-color-primary);
}

.marginBottomVerySmall {
  margin-bottom: $spacer-very-small;
}

.marginBottomSmall {
  margin-bottom: $spacer-small;
}

.marginBottomMedium {
  margin-bottom: $spacer-medium;
}

.marginRightVerySmall {
  margin-right: $spacer-very-small;
}

.dataIcon {
  @include dataIconDimensions();
  stroke: var(--summary-icon-color, $summary-icon-color);
}

.startAlign {
  align-items: flex-start;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  gap: $spacer-small;
}

.coOrganizerEditor {
  display: flex;
  flex-direction: column;
  gap: $spacer-very-small-plus;
  width: 100%;
}

.coOrganizerHeader {
  display: flex;
  flex-direction: column;
  gap: $spacer-mini;

  h2 {
    color: var(--text-color-emphasis, $text-color-emphasis);
    font-size: $font-size-secondary;
  }

  p {
    color: var(--text-color-primary, $text-color-primary);
    font-size: $font-size-tertiary;
  }
}

.diagonalContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
}

@include desktop() {
  .title {
    font-size: $font-size-title-desktop;
    margin-bottom: $spacer-small;
  }

  .subTitle {
    font-size: $font-size-secondary-desktop;
    margin-bottom: $spacer-medium;
  }

  .progressBarContainer {
    margin-bottom: 0;
  }
}

.summaryIcon {
  height: 20px;
  stroke: var(--summary-icon-color, $summary-icon-color);
  width: 20px;

  @include desktop() {
    height: 24px;
    width: 24px;
  }
}
