.switchContainer {
  align-items: center;
  background-color: var(--background-color-switch-container, $background-color-switch-container);
  border-radius: $border-radius-regular;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: $max-width-input;
  padding: $spacer-small;
  width: 100%;
}

.label {
  color: var(--text-color-emphasis, $text-color-emphasis);
  font-family: $mono-font;
  font-size: $font-size-secondary;
  margin-right: $spacer-small;

  @include desktop() {
    font-size: $font-size-secondary-desktop;
  }
}

.switch {
  @include resetButton();
  background-color: var(--background-color-switch, $background-color-switch);
  border-radius: $border-radius-round;
  box-shadow: var(--shadow-slider, $shadow-slider);
  height: 32px;
  position: relative;
  transition: all $animation-duration ease;
  width: 56px;
}

.switchControl {
  background-color: #FFFFFF;
  border-radius: $border-radius-round;
  bottom: 1px;
  box-shadow: var(--shadow-switch, $shadow-switch);
  height: 30px;
  left: 1px;
  position: absolute;
  transition: all $animation-duration ease;
  width: 30px;
}

.checked {
  background-color: var(--success-color-switch, $success-color-switch);
}

.checked > .switchControl {
  transform: translateX(24px);
}
