
.container {
  display: flex;
  justify-content: center;
  width: 100%
}

.tab {
  @include resetButton();
  align-items: center;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: $spacer-very-small;
  padding-top: $spacer-small;
  position: relative;
  width: 100%;

  span{
    font-size: $font-size-secondary;
    transition: color $animation-duration ease;

    @include desktop() {
      font-size: $font-size-primary-desktop;
    }
  }

  svg {
    fill: none;
    height: 24px;
    stroke: var(--text-color-primary, $text-color-primary);
    transition: all $animation-duration ease;
    width: 24px;

    @include desktop {
      height: 32px;
      width: 32px;
    }

  }
}
.selected {

  span {
    color: var(--text-color-emphasis, $text-color-emphasis);
    font-weight: $font-weight-medium;
  }

  svg {
    stroke: var(--text-color-emphasis, $text-color-emphasis);
  }

  .activeLine {
    animation-duration: $animation-duration;
    animation-fill-mode: both;
    animation-name: line-enter-reduced-motion;
    animation-timing-function: ease;
    background-color: var(--text-color-emphasis, $text-color-emphasis);
    bottom: 0px;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 100%;

    @media (prefers-reduced-motion: no-preference) {
      animation-name: line-enter-reduced-motion, line-enter-full-motion;
    }
  }

  /* The reduced motion version of the animation. */
  @keyframes line-enter-reduced-motion {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  /* The full motion version of the animation. */
  @keyframes line-enter-full-motion {
    from {
      width: 0%;
    }

    to {
      width: 100%;
    }
  }
}
