.tagContainer {
  @include resetButton();
  align-items: center;
  background-color: var(--background-color-tag, $background-color-tag);
  border-radius: $border-radius-round;
  box-shadow: none;
  color: var(--text-color-primary, $text-color-primary);
  cursor: pointer;
  display: flex;
  font-family: $mono-font;
  font-size: $font-size-tertiary;
  justify-content: center;
  padding: $spacer-very-small $spacer-small;
  text-transform: capitalize;
  transition: box-shadow $animation-duration ease;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;

    &:hover {
      box-shadow: var(--shadow-tag, $shadow-tag);
    }
  }
}

.active {
  background-color: var(--primary-color-400, $primary-color-400);
  color: var(--text-color-button, $text-color-button);
  font-weight: $font-weight-bold;

  @include desktop() {
    &:hover {
      box-shadow: var(--shadow-tag-active, $shadow-tag-active);
    }
  }
}

.noShadow {
  @include desktop() {
    &:hover {
      box-shadow: none;
    }
  }
}
