.container {
  display: flex;
  gap: $spacer-mini;
  overflow: hidden;
  width: 100%;
}


.pill {
  @include resetButton();
  background-color: var(--background-color-tag, $background-color-tag);
  border-radius: $border-radius-round;
  color: var(--text-color-primary, $text-color-primary);
  padding: $spacer-mini $spacer-small;

  &.selected {
    background-color: var(--primary-color-400, $primary-color-400);

    span {
      color: var(--text-color-emphasis, $text-color-emphasis);
      font-weight: $font-weight-bold;
    }
  }
}

.mySwiper {
  margin: 0;
}

.swiperSlide {
  max-width: max-content;
  width: 80%;

  &:first-child {
    margin-left: $spacer-small;
  }
}

.swiper-scrollbar {
  display: none;
}
