.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input-text;
  width: 100%;
}

.labelContainer {
  @include labelContainer();
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.label {
  @include label();
}

.lengthText {
  font-size: $font-size-tertiary;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.textInput {
  @include input();
}

.textInput::placeholder {
  color: var(--text-color-input, $text-color-input);
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}

.errorIcon {
  @include errorIconDimensions();
  stroke: var(--error-color, $error-color);
}

.asterisk {
  color: var(--error-color, $error-color);
}

.labelValid {
  .asterisk {
    color: var(--success-color, $success-color);
  }
}

.notValid {
  outline: 1px solid var(--error-color, $error-color);
}

.required {
  color: var(--text-color-emphasis, $text-color-emphasis);
}

.card {
  @include desktop() {
    &:focus, &:hover {
      background-color: var(--background-color-input, $background-color-input);
    }
  }
}
