.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);
}

.labelContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.label {
  @include label();
}

.lengthText {
  font-size: $font-size-tertiary;
}

.textInputLong {
  background-color: $background-color-input;
  border: 1px solid transparent;
  color: $text-color-emphasis;
  font-size: $font-size-input;
  line-height: $line-height-text;
  padding: $spacer-very-small $spacer-small;
}

.textInputLong::placeholder {
  color: $text-color-input;
}

.errorContainer {
  display: flex;
  margin-top: $spacer-very-small;
}

.errorText {
  color: $error-color;
  font-size: $font-size-tertiary;
  margin-left: $spacer-very-small;
}

.valid {
  border: 1px solid $success-color;
}

.notValid {
  border: 1px solid $error-color;
}

.required {
  color: $text-color-emphasis;
}
