.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input-text;
  width: 100%;
}

.labelContainer {
  @include labelContainer();
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.label {
  @include label();
}

.lengthText {
  font-size: $font-size-tertiary;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.textInput {
  @include input();
}

.textInput::placeholder {
  color: $text-color-input;
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}

.errorIconDimensions {
  @include errorIconDimensions();
}

.valid {
  border: 1px solid $success-color;
}

.notValid {
  border: 1px solid $error-color;
}

.required {
  color: $text-color-emphasis;
}
