.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.labelContainer {
  @include labelContainer();
}

.label {
  @include label();
}

.lengthText {
  font-size: $font-size-tertiary;

  @include desktop() {
    font-size: $font-size-tertiary-desktop;
  }
}

.textInputLong {
  @include input();
  line-height: $line-height-text;
}

.textInputLong::placeholder {
  color: $text-color-input;
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
}

.errorIcon {
  @include errorIconDimensions();
  stroke: $error-color;
}

.valid {
  border: 1px solid $success-color;
}

.notValid {
  border: 1px solid $error-color;
}

.required {
  color: $text-color-emphasis;
}
