.inputContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: $max-width-input;
  width: 100%;
}

.label {
  @include label();
  margin-bottom: $spacer-very-small;

  @include desktop() {
    margin-bottom: $spacer-very-small-plus;
  }
}

.noErrorPadding {
  padding-bottom: calc($spacer-very-small + $font-size-tertiary);

  @include desktop {
    padding-bottom: calc($spacer-very-small-plus + $font-size-tertiary-desktop);
  }
}

.timeInput {
  @include input();
  max-width: $max-width-input-time;

  @include desktop() {
    max-width: $max-width-input-time-desktop;
  }
}

.errorContainer {
  @include errorContainer();
}

.errorText {
  @include errorText();
  text-align: left
}

.notValid {
  outline: 1px solid var(--error-color, $error-color);
}

.required {
  color: var(--text-color-emphasis, $text-color-emphasis);
}

.errorIcon {
  @include errorIconDimensions();
  stroke: var(--error-color, $error-color);
}

.asterisk {
  color: var(--error-color, $error-color);
}

.labelValid {
  color: var(--success-color, $success-color);
}

.card {
  @include desktop() {
    &:focus, &:hover {
      background-color: var(--background-color-input, $background-color-input);
    }
  }
}
