.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: $page-width-mobile;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: $spacer-medium;
  width: 100%;

  .name {
    font-size: $font-size-heading-large;
    margin-bottom: $spacer-very-small;
    margin-top: $spacer-small;

    @include desktop() {
      font-size: $font-size-heading-large-desktop;
      margin-bottom: $spacer-very-small-plus;
      margin-top: $spacer-small-plus;
    }
  }

  .description {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: $font-size-secondary;
    -webkit-line-clamp: 5; /* number of lines to show */
    line-clamp: 5;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    @include normalText();

    @include desktop() {
      font-size: $font-size-secondary-desktop;
      max-width: $max-width-profile;
    }
  }
}
