.container {
  align-items: center;
  background-color: $primary-color-muted;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  padding: 4px;

  svg {
    stroke: $primary-color-200;
  }

  &.large {
    @include createCircle();
    svg {
      height: 24px;
      width: 24px;
    }
  }
}
